@import '_variables';
@import '_common';

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*Buscar mediaqueries en Ruky*/

@mixin display($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;

}

header {
    @include display(flex,inherit,center);
    background-image: $gradient-primary;
    border-radius: 0 0 0 80px;
    color: white;
    height: 90vh;
    padding: $sm-size;
    position: relative;
    
    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background: url(/assets/bg-main.png) no-repeat right bottom;
        background-size: cover;
        bottom: -360px;
        right: -16px; 
    }
}


.navbar {
    @include display(flex, space-between, inherit);
    background-image: $gradient-primary;
    color: white;
    padding: $sm-size;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: all ease-in-out .3s;

    &--blue {
        color: white;
        background-image: $gradient-primary;
    }
    
    &--white {
        color: $color-primary;
        background-image: none;
    }
}

.drawer{
    @include display(none, space-between, inherit);
    flex-direction: column;
    background-color: white;
    font: 700 52px/50px $font-primary;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 200;
    padding: $sm-size;

    li{
        padding: $sm-size;
    }
    
    a {
        color: black;
        &:hover {
            color: $color-primary;
        }
    }
    .close-drawer {
        top: 0;
        left: 0;
        &:hover {
            color: $color-primary;
            cursor: pointer;
        }
    }
}

.open-drawer, .logo {
    cursor: pointer;
    &:hover {
        opacity: 70%;
    }
}

.copyright p{
    font: 400 16px/24px "Work Sans", Verdana, sans-serif;
}

section {
    @include display(flex, center, center);
    flex-direction: column;
    min-height: 100vh;
    h2 {
        padding-left: $sm-size;
        margin-top: $lg-size;
        margin-right: auto;
    }
}

#cases-content {
    display: grid;
    grid-template-columns: 0 auto 0;
    grid-template-rows: auto 1fr;
    .slider__control{
        grid-column-start: 2;
        grid-row-start: 2;
    }
}


footer, #services, .joinus {
    border-radius: 0 0 40px 0;
    background: $gradient-primary;
    color: white;
    padding: $sm-size;

    a {
        color: white;
        &:hover {
        color: $color-secondary;
        }
    }
}

footer {
    border-radius: 0 40px 0 0;
    display: flex;
    flex-direction: column;

    nav {
        font-size: 24px;
        padding: $lg-size 0;

        ul {
            @include display(flex, inherit, flex-start);
            align-content: flex-start;
            flex-direction: column;
            max-height: 148px;
            flex-wrap: wrap;
        }

        li {
            font-size: $lg-size;
            font-weight: 600;
            padding: $xs-size $lg-size;
        }
    }
    
    div {
        @include display(flex, space-between, center);
        margin-bottom: $sm-size;

        .material-icons {
            padding: $xs-size;
        }
    }

    p {
        font-size: 16px;
    }

    .contact-links a {
        @include display(flex, center, center);
        padding-left: $sm-size;
    }
}


#cases, #pirca-description, #trusting {
    @include display(flex, center, center);
    flex-direction: column;
}


.texto-pirca {
    @include display(flex, center, center);
    padding: $sm-size;
}

.moving-auto-down {
    animation: translateIcon 0.6s ease 0s infinite alternate;
}

@keyframes translateIcon {
    from {transform: translateY(0px);}
    to {transform: translateY(20px);}
}

.highlighted {
    color: $color-primary;
    font-weight: 600;
}

.two-lines-text {
    font: 100 32px $font-primary;
    max-width: 50vw;
    margin-bottom: $lg-size;
    text-align: center;
}

.subtitle {
    font: 100 22px $font-primary;
}

#joinus {
    p {
        margin-bottom: $sm-size;
    }
    .job-detail-trigger {
        @include display(flex, inherit, center);
        cursor: pointer;
    }
    .job-details {
        display: none;
    }
}


.joinus {
    margin-bottom: $xl-size;
    padding: $lg-size;
    width: 100%;
    p {
        max-width: 800px;
    }
}

.team {
    @include display(flex, inherit, inherit);
    flex-direction: row;
    flex-wrap: wrap;

    &__card {
        @include display(flex, center, center);
        flex-direction: column;
        text-align: center;
        padding: $sm-size;
        max-width: 50%;
        img {
            width: 120px;
        }

        &-description {
            h3 {
                margin-top: $sm-size;
                margin-bottom: 0;
            }            
        }
    }
}

#cases {
    background-image: url(/assets/bg-cases.png);
}


.cases{
    &-detail {
        img {
            aspect-ratio: 16 / 9;
            margin-bottom: $sm-size;
            object-fit: cover;
            width: 100%;
        }
        h4 {
            font-weight: 400;
            margin-bottom: $xl-size;
        }
    }
    &-text {
        padding: 0 $lg-size;
    }
}

.services {
    &__cards{
        @include display(flex, center, flex-start);
        flex-wrap: wrap;
    }

    &__cards-item {
        max-width: 50%;
        text-align: center;
        padding: $md-size;
        margin-bottom: $md-size;
        h3 {
            font-size: 20px;
        }
        p {
            font: 100 16px/20px $font-primary;
            text-align: center;
        }
    }
}

.job-card {
    &__header {
        @include display(flex, space-between, center);
        border-radius: 20px;
        box-shadow: $z-third;
        padding: $sm-size $lg-size;
        margin-bottom: $xl-size;

        &-title {
            flex-grow: 2;
            padding: 0 $sm-size;

            h3 {
                margin-bottom: 0;
            }
        }
    }
}

#job-content {
    h4 {
        margin: $sm-size;
    }

    li {
        list-style:disc;
        padding-left: $md-size;
        padding-bottom: $sm-size;
        }
}


.img-group {
    @include display(flex, center, inherit);
    flex-wrap: wrap;
    max-width: 960px;
    padding: $lg-size;

    img {
        padding: $xl-size;
    }
}

.prev, .prev-desktop, .next, .next-desktop {
    margin: auto $sm-size;
}
.slider {
    &__control {
        @include display(flex, center, center);
        color: gray;
        padding-bottom: $lg-size;
    
        &-active {
            color: $color-primary;
        }
    }
}


/*::-webkit-scrollbar {
  height: 4px;              /* height of horizontal scrollbar ← You're missing this /
  width: 4px;               / width of vertical scrollbar 
  border: 1px solid #d5d5d5;

  slider__control
}

*/

@media (min-width: $break-sm) {
    .prev-desktop, .next-desktop{
        display: none;
    }
    .bg-main {
        top: 310px;
        right: 1000px;
    }
}

/* En el medio de estos dos breakpoints las imágenes de "Casos" se borran*/

@media (min-width: $break-md) {
    section {
        padding-bottom: $lg-size;
    }

    header {
        padding-left: $lg-size*6;
        .main-title{
            width: 40%;
        }
        .moving-auto-down{
        font-size: 40px;
        }
    }

    .texto-pirca{
        padding-left: $lg-size*6;
        max-width: 75%;
    }

    .joinus {
        padding-left: $lg-size*6;
    }

    #cases-content {
        grid-template-columns: auto auto auto;
        .prev, .next{
            display: none;
        }
        .prev-desktop, .next-desktop{
            display: inherit;
            margin: auto $xl-size;
        }
    }

    #job-content {
        max-width: 75%;
    }

    .services__cards-item {
        max-width: 25%;
        padding: $lg-size;
        h3 {
            font-size: 24px;
            margin-bottom: $sm-size;
        }
    }
}



@media (min-width: $break-lg) {
    .texto-pirca{
        padding-left: $lg-size*6;
        max-width: 60%;
    }

    #services {
        padding: 0 200px;
    }

    .team {
        max-width: 70%;
    }
}

