@charset "UTF-8";
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", Verdana, sans-serif;
  list-style: none;
  margin: 0;
  text-decoration: none;
}

*::-moz-selection {
  background-color: #FF91B9;
}

*::selection {
  background-color: #FF91B9;
}

h1 {
  font: 100 62px/60px "Work Sans", Verdana, sans-serif;
}

h2 {
  font: 700 58px/62px "Work Sans", Verdana, sans-serif;
  margin-bottom: 32px;
}

h3 {
  font: 700 28px/30px "Work Sans", Verdana, sans-serif;
  margin-bottom: 16px;
}

h4 {
  font: 700 19px/24px "Work Sans", Verdana, sans-serif;
}

p {
  font: 200 22px/31px "Work Sans", Verdana, sans-serif;
}

.btn {
  background-color: white;
  border: 2px;
  border-style: solid;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: #FF91B9;
}

.btn__text {
  font-size: 24px;
  padding: 12px 24px 12px 24px;
  -webkit-box-shadow: 8px 8px black;
          box-shadow: 8px 8px black;
  border-radius: 0 0 12px 0;
}

.btn__text-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  padding: 12px 24px 12px 24px;
  -webkit-box-shadow: 8px 8px black;
          box-shadow: 8px 8px black;
  border-radius: 0 0 12px 0;
}

.btn__text-icon:hover > .moving-icon {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.btn__text-icon:hover > .moving-icon-right {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.btn__text-icon:hover > .moving-icon-down {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.btn__icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  -webkit-box-shadow: 4px 4px black;
          box-shadow: 4px 4px black;
}

.btn__label {
  font-size: 20px;
  border-style: none;
  color: #006cb3;
}

.btn__label:hover {
  color: black;
  background-color: white;
}

.dot {
  background-color: grey;
  border-radius: 100%;
  cursor: pointer;
  padding: 4px;
  margin: 4px;
}

.dot-active {
  background-color: #006cb3;
}

@media (min-width: 960px) {
  h1 {
    font: 100 80px/80px "Work Sans", Verdana, sans-serif;
  }
  h2 {
    font: 700 68px/70px "Work Sans", Verdana, sans-serif;
    margin-bottom: 40px;
  }
  h3 {
    font: 700 32px/34px "Work Sans", Verdana, sans-serif;
    margin-bottom: 4px;
  }
  .dot {
    padding: 8px;
    margin: 8px;
  }
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*Buscar mediaqueries en Ruky*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#006cb3), to(#025287));
  background-image: linear-gradient(90deg, #006cb3 0%, #025287 100%);
  border-radius: 0 0 0 80px;
  color: white;
  height: 90vh;
  padding: 16px;
  position: relative;
}

header:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(/assets/bg-main.png) no-repeat right bottom;
  background-size: cover;
  bottom: -360px;
  right: -16px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  background-image: -webkit-gradient(linear, left top, right top, from(#006cb3), to(#025287));
  background-image: linear-gradient(90deg, #006cb3 0%, #025287 100%);
  color: white;
  padding: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.navbar--blue {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#006cb3), to(#025287));
  background-image: linear-gradient(90deg, #006cb3 0%, #025287 100%);
}

.navbar--white {
  color: #006cb3;
  background-image: white;
}

.drawer {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  font: 700 52px/50px "Work Sans", Verdana, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 200;
  padding: 16px;
}

.drawer li {
  padding: 16px;
}

.drawer a {
  color: black;
}

.drawer a:hover {
  color: #006cb3;
}

.drawer .close-drawer {
  top: 0;
  left: 0;
}

.drawer .close-drawer:hover {
  color: #006cb3;
  cursor: pointer;
}

.open-drawer, .logo {
  cursor: pointer;
}

.open-drawer:hover, .logo:hover {
  opacity: 70%;
}

.copyright p {
  font: 400 16px/24px "Work Sans", Verdana, sans-serif;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

section h2 {
  padding-left: 16px;
  margin-top: 32px;
  margin-right: auto;
}

#cases-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0 auto 0;
      grid-template-columns: 0 auto 0;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

#cases-content .slider__control {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

#cases-content .prev-desktop button, #cases-content .next-desktop button {
  display: none;
}

footer, #services, .joinus {
  border-radius: 0 0 40px 0;
  background: -webkit-gradient(linear, left top, right top, from(#006cb3), to(#025287));
  background: linear-gradient(90deg, #006cb3 0%, #025287 100%);
  color: white;
  padding: 16px;
}

footer a, #services a, .joinus a {
  color: white;
}

footer a:hover, #services a:hover, .joinus a:hover {
  color: #FF91B9;
}

footer {
  border-radius: 0 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer nav {
  font-size: 24px;
  padding: 32px 0;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 148px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer nav li {
  font-size: 32px;
  font-weight: 600;
  padding: 4px 32px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

footer div .material-icons {
  padding: 4px;
}

footer p {
  font-size: 16px;
}

footer .contact-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
}

#cases, #pirca-description, #trusting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.texto-pirca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
}

.moving-auto-down {
  -webkit-animation: translateIcon 0.6s ease 0s infinite alternate;
          animation: translateIcon 0.6s ease 0s infinite alternate;
}

@-webkit-keyframes translateIcon {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes translateIcon {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.highlighted {
  color: #006cb3;
  font-weight: 600;
}

.two-lines-text {
  font: 100 32px "Work Sans", Verdana, sans-serif;
  max-width: 50vw;
  margin-bottom: 32px;
  text-align: center;
}

.subtitle {
  font: 100 22px "Work Sans", Verdana, sans-serif;
}

#joinus p {
  padding-left: 16px;
  margin-bottom: 32px;
}

#joinus .job-detail-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#joinus .job-details {
  display: none;
}

.joinus {
  margin-bottom: 40px;
  width: 100%;
}

.joinus p {
  max-width: 800px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 16px;
  max-width: 50%;
  min-width: 25%;
}

.team__card img {
  width: 120px;
}

.team__card-description h3 {
  margin-top: 16px;
  margin-bottom: 0;
}

#cases {
  background-image: url(/assets/bg-cases.png);
}

.cases-detail img {
  aspect-ratio: 16 / 9;
  margin-bottom: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.cases-detail h4 {
  font-weight: 400;
  margin-bottom: 40px;
}

.cases-text {
  padding: 0 32px;
}

.services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__cards-item {
  max-width: 50%;
  text-align: center;
  padding: 24px;
  margin-bottom: 24px;
}

.services__cards-item h3 {
  font-size: 20px;
}

.services__cards-item p {
  font: 100 16px/20px "Work Sans", Verdana, sans-serif;
  text-align: center;
}

.job-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 16px 32px;
  margin-bottom: 40px;
}

.job-card__header-title {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 0 16px;
}

.job-card__header-title h3 {
  margin-bottom: 0;
}

#job-content h4 {
  margin: 16px;
}

#job-content li {
  list-style: disc;
  padding-left: 24px;
  padding-bottom: 16px;
}

.img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 960px;
  padding: 32px;
}

.img-group img {
  padding: 40px;
}

.prev, .prev-desktop, .next, .next-desktop {
  margin: auto 16px;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  padding-bottom: 32px;
}

.slider__control-active {
  color: #006cb3;
}

/*::-webkit-scrollbar {
  height: 4px;              /* height of horizontal scrollbar ← You're missing this /
  width: 4px;               / width of vertical scrollbar 
  border: 1px solid #d5d5d5;

  slider__control
}

*/
@media (min-width: 640px) {
  .bg-main {
    top: 310px;
    right: 1000px;
  }
}

/* En el medio de estos dos breakpoints las imágenes de "Casos" se borran*/
@media (min-width: 960px) {
  section {
    padding-bottom: 32px;
  }
  header .main-title {
    width: 40%;
    padding-left: 120px;
  }
  header .moving-auto-down {
    font-size: 40px;
  }
  .texto-pirca {
    max-width: 75%;
  }
  #cases-content {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  #cases-content .prev, #cases-content .next {
    display: none;
  }
  #cases-content .prev-desktop button, #cases-content .next-desktop button {
    display: inherit;
    margin: auto 40px;
  }
  #job-content {
    max-width: 75%;
  }
  .services__cards-item {
    max-width: 25%;
    padding: 32px;
  }
  .services__cards-item h3 {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .services__cards-item img {
    width: 80px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1280px) {
  section h2 {
    padding-left: 200px;
  }
  .texto-pirca {
    max-width: 60%;
  }
  #services p {
    font: 100 18px/22px "Work Sans", Verdana, sans-serif;
  }
  #joinus p {
    padding-left: 120px;
  }
  .services__cards {
    padding: 0 120px;
  }
  .team {
    max-width: 80%;
  }
  .texto-pirca {
    padding: 16px 120px;
  }
}
/*# sourceMappingURL=main.css.map */