@import '_variables';
@import '_common';

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*Buscar mediaqueries en Ruky*/

@mixin display($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;

}

header {
    @include display(flex,inherit,center);
    background-image: $gradient-primary;
    border-radius: 0 0 0 80px;
    color: white;
    height: 90vh;
    padding: $sm-size;
    position: relative;
    
    .main-title {
        max-width: 70%;
    }

    &:after {
        content: '';
        position: absolute;
        height: 80%;
        width: 100%;
        background: url(/assets/bg-main.png) no-repeat right bottom;
        background-size: cover;
        bottom: -276px;
        left: 140px;
    }
}


.navbar {
    @include display(flex, space-between, inherit);
    background-image: $gradient-primary;
    color: white;
    padding: $sm-size;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: all ease-in-out .3s;

    &--blue {
        color: white;
    }
    
    &--white {
        color: $color-primary;
    }
}

.drawer{
    @include display(none, space-between, inherit);
    flex-direction: column;
    background-color: white;
    font: 700 52px/50px $font-primary;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 200;
    padding: $sm-size;

    li{
        padding: $sm-size;
    }
    
    a {
        color: black;
        &:hover {
            color: $color-primary;
        }
    }
    .close-drawer {
        top: 0;
        left: 0;
        &:hover {
            color: $color-primary;
            cursor: pointer;
        }
    }
}

.open-drawer, .logo {
    cursor: pointer;
    &:hover {
        opacity: 70%;
    }
}

.copyright p{
    font: 400 16px/24px "Work Sans", Verdana, sans-serif;
}

section {
    @include display(flex, center, center);
    flex-direction: column;
    min-height: 100vh;
    h2 {
        padding-left: $sm-size;
        margin-top: $lg-size;
        margin-right: auto;
    }
}

#cases-content {
    display: grid;
    grid-template-columns: 0 auto 0;
    grid-template-rows: auto 1fr;
    .slider__control{
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .prev-desktop button, .next-desktop button{
        display: none;
    }
}


footer, #services, .joinus {
    border-radius: 0 0 40px 0;
    background: $gradient-primary;
    color: white;
    padding: $sm-size;

    a {
        color: white;
        &:hover {
        color: $color-secondary;
        }
    }
}

footer {
    border-radius: 0 40px 0 0;
    display: flex;
    flex-direction: column;

    nav {
        font-size: 24px;
        padding: $xl-size 0;

        ul {
            @include display(flex, inherit, flex-start);
            align-content: flex-start;
            flex-direction: column;
            max-height: 148px;
            flex-wrap: wrap;
        }

        li {
            font-size: $lg-size;
            font-weight: 600;
            padding: $xs-size $lg-size;
        }
    }
    
    div {
        @include display(flex, space-between, center);
        margin-bottom: $sm-size;

        .material-icons {
            padding: $xs-size;
        }
    }

    p {
        font-size: 16px;
    }

    .contact-links a {
        @include display(flex, center, center);
        padding-left: $sm-size;
    }
}


#cases, #pirca-description, #trusting {
    @include display(flex, center, center);
    flex-direction: column;
}


.texto-pirca {
    @include display(flex, center, center);
    padding: $lg-size;
}

.moving-auto-down {
    animation: translateIcon 0.6s ease 0s infinite alternate;
}

@keyframes translateIcon {
    from {transform: translateY(0px);}
    to {transform: translateY(20px);}
}

.highlighted {
    color: $color-primary;
    font-weight: 600;
}

.two-lines-text {
    font: 100 32px $font-primary;
    max-width: 50vw;
    margin-bottom: $lg-size;
    text-align: center;
}

.subtitle {
    font: 100 22px $font-primary;
}

#joinus {
    p {
        font: 100 18px/24px $font-primary;
        padding-left: $sm-size;
        margin-bottom: $lg-size;
    }
}

.joinus {
    margin-bottom: $xl-size;
    width: 100%;
    p {
        max-width: 800px;
    }
}

.active-searches {
    @include display(flex, inherit, inherit);
}

.job-card {
    &__header {
        @include display(flex, space-between, center);
        border-radius: 20px;
        padding: $sm-size $lg-size;
        margin-bottom: $xl-size;

        &-title {
            flex-grow: 2;
            padding: 0 $sm-size;

            h3 {
                margin-bottom: 0;
            }
        }
    }
    &__active {
        box-shadow: $z-first;
    }
    &__inactive {
        box-shadow: $z-third;
    } 
}

.job-detail-trigger {
    @include display(flex, center, center);
}


#job-content-details {
    margin: $lg-size auto auto $md-size;
    max-width: 50vw;
    h4 {
        margin-bottom: $sm-size;
    }
    ul {
        margin-bottom: $md-size;
    }
}

.job-details__2, .job-details__3 {
    display: none;
}


.team {
    @include display(flex, inherit, inherit);
    flex-direction: row;
    flex-wrap: wrap;

    &__card {
        @include display(flex, center, center);
        flex-direction: column;
        text-align: center;
        padding: $sm-size;
        max-width: 50%;
        min-width: 25%;
        img {
            width: 120px;
        }

        &-description {
            h3 {
                margin-top: $sm-size;
                margin-bottom: 0;
            }            
        }
    }
}

#cases {
    background-image: url(/assets/bg-cases.png);
}


.cases{
    &-detail {
        img {
            margin-bottom: $sm-size;
            max-width: 60vw;
        }
        h4 {
            font-weight: 400;
            margin-bottom: $xl-size;
        }
    }
    &-text {
        padding: 0 $lg-size;
    }
}

.prev, .prev-desktop, .next, .next-desktop {
    margin: auto $sm-size;
}
.slider {
    &__control {
        @include display(flex, center, center);
        color: gray;
        padding-bottom: $lg-size;
    
        &-active {
            color: $color-primary;
        }
    }
}

.services {
    &__cards{
        @include display(flex, center, flex-start);
        flex-wrap: wrap;
    }

    &__cards-item {
        max-width: 50%;
        text-align: center;
        padding: $md-size;
        margin-bottom: $md-size;
        h3 {
            font-size: 20px;
        }
        p {
            font: 100 16px/20px $font-primary;
            text-align: center;
        }
    }
}

.img-group {
    @include display(flex, center, inherit);
    flex-wrap: wrap;
    max-width: 960px;
    padding: $lg-size;

    img {
        padding: $xl-size;
    }
}


/*::-webkit-scrollbar {
  height: 4px;              /* height of horizontal scrollbar ← You're missing this /
  width: 4px;               / width of vertical scrollbar 
  border: 1px solid #d5d5d5;

  slider__control
}

*/

@media (min-width: $break-sm) {
header {
    &:after {
        height: 100%;
        width: 100%;
        bottom: -400px;
        left: 100px;
    }
}
}

/* En el medio de estos dos breakpoints las imágenes de "Casos" se borran*/

@media (min-width: $break-md) {
    section {
        padding-bottom: $lg-size;
    }

    header {
        .main-title{
            width: 40%;
            padding-left: 120px;
        }
        .moving-auto-down{
        font-size: 40px;
        }
        &:after {
            height: 120%;
            width: 100%;
            bottom: -440px;
            left: 200px;
        }
    }

    .texto-pirca{
        max-width: 75%;
    }

    #cases-content {
        grid-template-columns: auto auto auto;
        .prev, .next{
            display: none;
        }
        .prev-desktop button, .next-desktop button{
            display: inherit;
            margin: auto $xl-size;
        }
    }

    #job-content {
        margin: 0 auto 0 80px;
    }

    .services__cards {
        &-item {
        max-width: 25%;
        padding: $lg-size;
        h3 {
            font-size: 28px;
            margin-bottom: $sm-size;
        }
        img {
            width: 80px;
            margin-bottom: $sm-size;
        }
    }
    }
}



@media (min-width: $break-lg) {

    header {
        &:after {
        height: 140%;
        bottom: -500px;
        left: 100px;
    }
}

    section {
        h2 {
            padding-left: 120px;
        }
    }

    .texto-pirca{
        max-width: 60%;
    }

    #services {
    p {
        font: 100 18px/22px $font-primary;
        }
    }

    #joinus .joinus p {
            padding-left: 120px;
    }

    .services__cards {
        padding: 0 120px;
    }

    .team {
        max-width: 80%;
    }

    .texto-pirca {
        padding: $sm-size 120px;
    }
}

